   <link rel="stylesheet" type="text/css" href="assets/anihead/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="assets/anihead/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="assets/anihead/css/component.css" />
        <link href='http://fonts.googleapis.com/css?family=Raleway:200,400,800|Clicker+Script' rel='stylesheet' type='text/css'>
        <!--[if IE]>
        	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->


{% if page.image.feature %}

{% include head.html %}

<section class="article">

  <div class="overlay"></div>
 <div class="featured-image" style="background-image: url({{ site.url }}/images/{{ page.image.feature }})">

<div id="large-header" class="large-header">
                    <canvas id="demo-canvas"></canvas>
                    <h1 class="main-title">"Shut up &amp; Look"</span></h1>
                </div>


</div>
 {% else %} 

{% include head-dark.html %}

 

<section class="article pad-top">

{% endif %}

      <article class="wrap post">
        <header class="post-header">
          <hgroup>
            <h1>{{ page.title }}</h1>
            <p class="intro">{% if page.description %}{{ page.description }}{% else %}{{ page.tagline }}{% endif %}</p>

          </hgroup>
        </header>

        {{ content }}

      <a class="share" href="https://twitter.com/intent/tweet?text=&quot;{{ page.title }}&quot;%20{{ site.canonical }}{{ page.url }}%20via%20&#64;{{ site.owner.twitter }}" data-dnt="true">Share</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      </article>
    </section>
</div>

{% include footer.html %}


        <script src="assets/anihead/js/rAF.js"></script>
        <script src="assets/anihead/js/demo-2.js"></script>
